<!DOCTYPE html>
<html lang="en">
	<head>
		<head>
			<title>Evolution Beta</title>
	
			<link rel="apple-touch-icon" sizes="57x57"
				href="https://cubedhuang.com/apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60"
				href="https://cubedhuang.com/apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72"
				href="https://cubedhuang.com/apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76"
				href="https://cubedhuang.com/apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114"
				href="https://cubedhuang.com/apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120"
				href="https://cubedhuang.com/apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144"
				href="https://cubedhuang.com/apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152"
				href="https://cubedhuang.com/apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180"
				href="https://cubedhuang.com/apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192"
				href="https://cubedhuang.com/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32"
				href="https://cubedhuang.com/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96"
				href="https://cubedhuang.com/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16"
				href="https://cubedhuang.com/favicon-16x16.png">
			<link rel="manifest" href="https://cubedhuang.com/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">
	
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107754281-2"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
	
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());
	
				gtag('config', 'UA-107754281-2');
			</script>
	
			<link
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
				rel="stylesheet"
				integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
				crossorigin="anonymous">
			<link rel="stylesheet" href="resources/animate.min.css">
			<link rel="stylesheet" href="style.css">
		</head>
	</head>

	<body class="container">
		<p>
			<br>
			<a href="https://cubedhuang.com" class="btn btn-outline-primary" role="button">Back</a>
			<a href="/reference/" target="_blank" class="btn btn-outline-success" role="button">Reference</a>
		</p>

		<div id="app">
			<div class="row">
				<div class="col-12">
					<h1>
						Evolution of {{ stages[stage] }} -
						{{ format(totalNow.div(evolveReq).times(100)) }}%
					</h1>

					<p class="small">This is a beta version. It is incomplete and there are several bugs.</p>

					<button
						class="btn btn-outline-primary btn-lg btn-block"
						v-if="totalNow.gte(evolveReq)"
						@click="evolve">
						EVOLVE - Become {{ stages[stage + 1] }}, with a 5x boost
						<br>
						<div class="small">Progress is not reset.</div>
					</button>
					<button
						class="btn btn-outline-primary btn-lg btn-block"
						v-if="this.wisdomGain.gte(5)"
						@click="ascend">
						ASCEND - Return to Prokaryotes with a {{ format(wisdomGain) }}x more wisdom
						<br>
						<div class="small">
							Current: {{ format(wisdom) }} &raquo; New: {{ format(wisdom.plus(wisdomGain)) }}
						</div>
					</button>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-12">
					<h3 class="float-left">{{ format(eff) }} Efficiency</h3>

					<transition
						enter-active-class="animated fadeInDown"
						leave-active-class="animated fadeOutDown">
						<p
							class="float-right notification green"
							v-if="showNotification &amp;&amp; notificationStatus"
							>
							+{{ format(gain.times(multiplier)) }}
						</p>
						<p
							class="float-right notification red"
							v-else-if="showNotification"
							>
							0
						</p>
					</transition>
					
					<button
						class="btn btn-success btn-lg btn-block"
						@click="mutate()"
						@keydown.prevent>
						Mutate - Chance: {{ format(chance.times(100)) }}%
					</button>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-12">
					<h3>Upgrades</h3>
					
					<button
						class="btn btn-warning btn-block"
						v-for="(up, id) in upgrades"
						@click="getUpgrade(id)">
						{{ up.name[stage] }} -
						Level {{ format(up.level) }} -
						{{ up.effect }} -
						Cost: {{ format(up.cost) }} Efficiency
					</button>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-12">
					<h3>Automata</h3>

					<button
						class="btn btn-danger btn-block"
						v-for="(auto, id) in automata"
						v-if="stage >= auto.unlocked"
						@click="getAutomata(id)">
						{{ format(auto.amount) }}
						{{ auto.name[stage] }} -
						{{ format(auto.eps.times(multiplier)) }} EPS -
						Total {{ format(auto.eps.times(multiplier).times(auto.amount)) }} EPS -
						Cost: {{ format(auto.cost) }} Efficiency
					</button>
				</div>
			</div>
		</div>

		<script src="/resources/decimal.min.js"></script>
		<script src="/resources/format.min.js"></script>
		<script src="/resources/vue.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>