<!DOCTYPE html>
<html lang="en" class="game">
	<head>
		<head>
			<title>Evolution Beta</title>
	
			<link rel="apple-touch-icon" sizes="57x57"
				href="https://cubedhuang.com/apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60"
				href="https://cubedhuang.com/apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72"
				href="https://cubedhuang.com/apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76"
				href="https://cubedhuang.com/apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114"
				href="https://cubedhuang.com/apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120"
				href="https://cubedhuang.com/apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144"
				href="https://cubedhuang.com/apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152"
				href="https://cubedhuang.com/apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180"
				href="https://cubedhuang.com/apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192"
				href="https://cubedhuang.com/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32"
				href="https://cubedhuang.com/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96"
				href="https://cubedhuang.com/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16"
				href="https://cubedhuang.com/favicon-16x16.png">
			<link rel="manifest" href="https://cubedhuang.com/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">
	
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107754281-2"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
	
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());
	
				gtag('config', 'UA-107754281-2');
			</script>
	
			<link
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
				rel="stylesheet">
			<link rel="stylesheet" href="resources/animate.min.css">
			<link rel="stylesheet" href="style.css">
		</head>
	</head>

	<body class="container">
		<div id="app">
			<div class="row">
				<div class="col-12">
						<nav class="navbar navbar-dark bg-primary">
							<span class="navbar-text">
								Efficiency: {{ format(eff) }}
							</span>
							<span class="navbar-text">
								Wisdom: {{ format(wisdom) }}
							</span>
						</nav>
				</div>
			</div>
			
			<br>

			<div class="row">
				<div class="col-12">
					<h1>
						Evolution of {{ stages[stage] }}
					</h1>

					<p class="float-left">
						This is a beta version. It is incomplete and there are several bugs.
					</p>

					<transition
						enter-active-class="animated zoomIn"
						leave-active-class="animated zoomOut">
						<p
							class="float-right notification green"
							v-if="showGainNote &amp;&amp; gainNoteStatus">
							+{{ format(gain.times(multiplier)) }}
						</p>
						<p
							class="float-right notification red"
							v-else-if="showGainNote">
							0
						</p>
					</transition>
					
					<button
						class="btn btn-success btn-lg btn-block"
						@click="mutate()"
						@keydown.prevent>
						Mutate - Chance: {{ format(chance.times(100)) }}%
					</button>
					
					<br>

					<nav class="nav nav-pills">
						<a
							class="nav-link"
							:class="[menu === 0 ? 'active' : '']"
							href="#"
							@click.prevent="menu = 0">
							Species
						</a>
						<a
							class="nav-link"
							:class="[menu === 1 ? 'active' : '']"
							href="#"
							@click.prevent="menu = 1">
							Advancements
						</a>
						<a
							class="nav-link"
							:class="[menu === 2 ? 'active' : '']"
							href="#"
							@click.prevent="menu = 2">
							Statistics
						</a>
						<a
							class="nav-link"
							:class="[menu === 3 ? 'active' : '']"
							href="#"
							@click.prevent="menu = 3">
							Settings
						</a>
					</nav>
				</div>
			</div>

			<br>

			<transition
				enter-active-class="animated zoomIn"
				leave-active-class="animated flipOutX"
				mode="out-in">
				<div v-if="menu === 0" key="species">
					<div class="row">
						<div class="col-12">
							<h2>Upgrades</h2>
							
							<button
								class="btn btn-warning btn-block"
								v-for="(up, id) in upgrades"
								@click="getUpgrade(id)">
								{{ up.name[stage] }} -
								Level {{ format(up.level) }} -
								{{ up.effect }} -
								Cost: {{ format(up.cost) }} Efficiency
							</button>
						</div>
					</div>
		
					<hr>
		
					<div class="row">
						<div class="col-12">
							<h2>Automata</h2>
		
							<button
								class="btn btn-danger btn-block"
								v-for="(auto, id) in automata"
								v-if="stage >= auto.unlocked"
								@click="getAutomata(id)">
								{{ format(auto.amount) }}
								{{ auto.name[0] }} - <!-- TODO -->
								<!-- TODO ^ -->
								<!-- TODO \ -->
								<!-- TODO \ -->
								{{ format(auto.eps.times(multiplier)) }} EPS -
								Total {{ format(auto.eps.times(multiplier).times(auto.amount)) }} EPS -
								Cost: {{ format(auto.cost) }} Efficiency
							</button>
						</div>
					</div>
				</div>

				<div v-if="menu === 1" key="advancements">
					<div class="row">
						<div class="col-12">
							<h4>Overall Multiplier: {{ format(multiplier) }}</h4>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-12">
							<h2>Evolving</h2>
							<p>
								Next Stage: {{ stages[stage + 1] }}.
								Right now
								you have a total of {{ format(Decimal.pow(5, stage)) }}x
								multiplier from evolving.
								When you evolve to {{ stages[stage + 1] }},
								you will have a total of {{ format(Decimal.pow(5, stage + 1)) }}x
							</p>

							<p v-if="totalNow.lt(evolveReq)">
								Status: {{ format(totalNow) }} /
								{{ format(evolveReq) }} efficiency
								<br>
								{{ format(totalNow.div(evolveReq).times(100)) }}%
								to next species.
							</p>

							<template v-else>
								<button
									class="btn btn-outline-primary btn-lg btn-block"
									@click="evolve">
									Evolve to {{ stages[stage + 1] }}
								</button>
								<p class="small">Progress is not reset when you evolve.</p>
							</template>
						</div>
					</div>
				
					<hr>
					
					<div class="row">
						<div class="col-12">
							<h2>Ascension</h2>
							<p>
								Ascension will restart the time sequence, but you will retain wisdom.
								Wisdom is a multiplier that will make your progress faster.
								Right now, you have {{ format(wisdom) }} wisdom.
								This creates an overall {{ format(wisdom) }}x multiplier.
							</p>

							<template v-if="this.wisdomGain.gte(2)">
								<button
									class="btn btn-outline-primary btn-lg btn-block"
									@click="ascend">
									ASCEND - Restart the Time Sequence
									<br>
									<span class="small">
										You will gain {{ format(wisdomGain) }} wisdom.
										<br>
										Current:
										{{ format(wisdom) }} &raquo; New: {{ format(wisdom.plus(wisdomGain)) }}
									</span>
								</button>
							</template>

							<p v-else>
								Gain more efficiency to Ascend.
							</p>
						</div>
					</div>
				</div>

				<div v-if="menu === 2" key="stats">
					<div class="row">
						<div class="col-12">
							<h2>Efficiency</h2>
							<p>
								Efficiency: {{ format(eff) }}
								<br>
								Total Efficiency This Ascension: {{ format(totalNow) }}
								<br>
								Total Efficiency Ever: {{ format(total) }}
							</p>

							<h2>Evolution</h2>
							<p>
								Current Stage: {{ stages[stage] }}
								<br>
								Current Stage Number: {{ stage + 1 }}
								<br>
								Highest Stage Ever: {{ highestStage }}
							</p>

							<h2>Ascensions</h2>
							<p>
								Wisdom: {{ format(wisdom) }}
								<br>
								Total Ascensions: {{ ascensions }}
								<br>
								Wisdom Gained After Ascension: {{ format(wisdomGain) }}
							</p>
						</div>
					</div>
				</div>

				<div v-if="menu === 3" key="settings">
					<div class="row">
						<div class="col-12 text-center">
								<p>
									<a href="https://cubedhuang.com" class="btn btn-outline-primary" role="button">Back to CubeDHuang</a>
									<a href="/reference/" target="_blank" class="btn btn-outline-success" role="button">Reference</a>
								</p>
						</div>
					</div>
				</div>
			</transition>
		</div>

		<script src="/resources/decimal.min.js"></script>
		<script src="/resources/format.min.js"></script>
		<script src="/resources/vue.dev.js"></script>
		<script src="script.js"></script>
	</body>
</html>