<!DOCTYPE html>
<html lang="en" class="game">
	<head>
		<head>
			<title>Evolution Beta</title>
	
			<link rel="apple-touch-icon" sizes="57x57"
				href="https://cubedhuang.com/apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60"
				href="https://cubedhuang.com/apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72"
				href="https://cubedhuang.com/apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76"
				href="https://cubedhuang.com/apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114"
				href="https://cubedhuang.com/apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120"
				href="https://cubedhuang.com/apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144"
				href="https://cubedhuang.com/apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152"
				href="https://cubedhuang.com/apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180"
				href="https://cubedhuang.com/apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192"
				href="https://cubedhuang.com/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32"
				href="https://cubedhuang.com/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96"
				href="https://cubedhuang.com/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16"
				href="https://cubedhuang.com/favicon-16x16.png">
			<link rel="manifest" href="https://cubedhuang.com/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">
	
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107754281-2"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
	
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());
	
				gtag('config', 'UA-107754281-2');
			</script>
	
			<link
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
				rel="stylesheet">
			<link rel="stylesheet" href="resources/animate.min.css">
			<link rel="stylesheet" href="style.css">
		</head>
	</head>

	<body class="container">
		<div id="app">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-dark bg-primary">
						<span class="navbar-text">
							Energy: {{ format(energy) }}
						</span>
						<span class="navbar-text">
							Efficiency: {{ format(eff) }}
						</span>
						<span class="navbar-text">
							Wisdom: {{ format(wisdom) }}
						</span>
					</nav>
				</div>
			</div>
			
			<br>

			<div class="row">
				<div class="col-12">
					<h1>
						Evolution of {{ stages[stage] }}
					</h1>

					<p class="float-left">
						This is a beta version. It is incomplete and there are many bugs.
					</p>
					
					<button
						class="btn btn-success btn-lg btn-block"
						:class="[canMutate ? '' : 'disabled']"
						@click="mutate()"
						@keydown.prevent>
						Mutate - Speed: {{ speed.div(1000).toString().slice(0, 4) }} Second
					</button>
					
					<br>

					<nav class="nav nav-pills">
						<a
							class="nav-link"
							:class="[menu === 0 ? 'active' : '']"
							href="#"
							@click.prevent="menu = 0">
							Species
						</a>
						<a
							class="nav-link"
							:class="[menu === 1 ? 'active' : '']"
							href="#"
							@click.prevent="menu = 1">
							Advancements
						</a>
						<a
							class="nav-link"
							:class="[menu === 2 ? 'active' : '']"
							href="#"
							@click.prevent="menu = 2">
							Statistics
						</a>
						<a
							class="nav-link"
							:class="[menu === 3 ? 'active' : '']"
							href="#"
							@click.prevent="menu = 3">
							Settings
						</a>
					</nav>
				</div>
			</div>

			<br>

			<transition
				enter-active-class="animated zoomIn"
				leave-active-class="animated flipOutX"
				mode="out-in">
				<div v-if="menu === 0" key="species">
					<div class="row">
						<div class="col-12">
							<h2 class="text-center">Upgrades</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<nav class="nav nav-pills flex-column select-menu">
								<a
									v-for="(up, id) in upgrades"
									class="nav-link"
									:class="[upgradeMenu === id ? 'active bg-warning' : 'text-warning']"
									href="#"
									@click.prevent="upgradeMenu = id">
									{{ up.name[stage] }}
								</a>
							</nav>
						</div>

						<div class="col-9">
							<template>
								<h3>{{ currentUpgrade.name[stage] }}</h3>
								<p>
									Level: {{ format(currentUpgrade.level) }}
									<br>
									Effect: {{ currentUpgrade.effect }}
									<br>
									Cost: {{ format(currentUpgrade.cost) }} Energy
								</p>
								<button
									class="btn btn-warning btn-block"
									v-if="energy.gte(currentUpgrade.cost)"
									@click="getUpgrade()">
									Level Up
								</button>
								<p v-else>You need more energy to level up.</p>
							</template>
						</div>
					</div>
		
					<hr>
		
					<div class="row">
						<div class="col-12">
							<h2 class="text-center">Automata</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<nav class="nav nav-pills flex-column select-menu">
								<a
									v-for="(auto, id) in automata"
									v-if="stage >= auto.unlocked"
									class="nav-link"
									:class="[automataMenu === id ? 'active bg-danger' : 'text-danger']"
									href="#"
									@click.prevent="automataMenu = id">
									{{ auto.name[stage] }}
								</a>
							</nav>
						</div>
						<div class="col-9">
							<h3>{{ currentAutomata.name[0] }}</h3>
							<p>
								Amount: {{ format(currentAutomata.amount) }}
								<br>
								EPS per {{ currentAutomata.name[0] }}:
								{{ format(currentAutomata.eps.times(multiplier)) }}
								<br>
								Total EPS:
								{{ format(currentAutomata.eps.times(multiplier).times(currentAutomata.amount)) }}
								<br>
								Cost: {{ format(currentAutomata.cost) }} Energy
							</p>
							<button
								class="btn btn-danger btn-block"
								v-if="energy.gte(currentAutomata.cost)"
								@click="getAutomata()">
								Create 1 {{ currentAutomata.name[0] }}
							</button>
							<p v-else>
								You need more energy to create one.
							</p>
						</div>
					</div>
				</div>

				<div v-if="menu === 1" key="advancements">
					<div class="row">
						<div class="col-12">
							<h4>Overall Multiplier: {{ format(multiplier) }}</h4>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-12">
							<h2>Evolving</h2>
							<p>
								Next Stage: {{ stages[stage + 1] }}.
								Right now
								you have a {{ format(Decimal.pow(5, stage)) }}x
								multiplier from evolving.
								When you evolve to {{ stages[stage + 1] }},
								you will have a total of {{ format(Decimal.pow(5, stage + 1)) }}x
							</p>

							<p v-if="eff.lt(evolveReq)">
								Status: {{ format(eff) }} /
								{{ format(evolveReq) }} efficiency
								<br>
								{{ format(eff.div(evolveReq).times(100)) }}%
								to next species.
							</p>

							<template v-else>
								<button
									class="btn btn-outline-primary btn-lg btn-block"
									@click="evolve">
									Evolve to {{ stages[stage + 1] }}
								</button>
								<p class="small">Progress is not reset when you evolve.</p>
							</template>
						</div>
					</div>
				
					<hr>
					
					<div class="row">
						<div class="col-12">
							<h2>Ascension</h2>
							<p>
								Ascension will restart the time sequence, but you will retain wisdom.
								Wisdom is a multiplier that will make your progress faster.
								Right now, you have {{ format(wisdom) }} wisdom.
								This creates an overall {{ format(wisdom) }}x multiplier.
							</p>

							<template v-if="this.wisdomGain.gte(1)">
								<button
									class="btn btn-outline-primary btn-lg btn-block"
									@click="ascend">
									ASCEND - Restart the Time Sequence
									<br>
									<span class="small">
										You will gain {{ format(wisdomGain) }} wisdom.
										<br>
										Current:
										{{ format(wisdom) }} &raquo; New: {{ format(wisdom.plus(wisdomGain)) }}
									</span>
								</button>
							</template>

							<p v-else>
								Gain more energy to Ascend.
							</p>
						</div>
					</div>
				</div>

				<div v-if="menu === 2" key="stats">
					<div class="row">
						<div class="col-12">
							<h2>Energy</h2>
							<p>
								Energy: {{ format(energy) }}
								<br>
								Efficiency: {{ format(eff) }}
								<br>
								Total Energy This Ascension: {{ format(totalNow) }}
								<br>
								Total Energy Ever: {{ format(total) }}
							</p>

							<h2>Evolution</h2>
							<p>
								Current Stage: {{ stages[stage] }}
								<br>
								Current Stage Number: {{ stage + 1 }}
								<br>
								Highest Stage Ever: {{ highestStage }}
							</p>

							<h2>Ascensions</h2>
							<p>
								Wisdom: {{ format(wisdom) }}
								<br>
								Total Ascensions: {{ ascensions }}
								<br>
								Wisdom Gained After Ascension: {{ format(wisdomGain) }}
							</p>
						</div>
					</div>
				</div>

				<div v-if="menu === 3" key="settings">
					<div class="row">
						<div class="col-12 text-center">
								<p>
									<a href="https://cubedhuang.com" class="btn btn-outline-primary" role="button">Back to CubeDHuang</a>
									<a href="/reference/" target="_blank" class="btn btn-outline-success" role="button">Reference</a>
								</p>
						</div>
					</div>
				</div>
			</transition>
		</div>

		<script src="/resources/decimal.min.js"></script>
		<script src="/resources/format.min.js"></script>
		<script src="/resources/vue.dev.js"></script>
		<script src="script.js"></script>
	</body>
</html>